<div class="row my-5">
  <div class="col text-center">
    <img src="/img/profile.png" height="250" />
    <h2>{{user.first_name}} {{user.last_name}}</h2>
    <h4 class="text-capitalize">{{user.type}}</h4>
    <h3 class="text-info">{{user.email}}</h3>
  </div>
</div>