<div class="row my-5">
    <div class="col text-center">
        <h2>Welcome to HELL Management System. </h2>
    </div>
</div>

<div class="row">
    <div class="offset-md-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">View Applications</h5>
                <p class="card-text">View applications that have been submitted and are pending your approval.</p>
            </div>
            <div class="card-footer text-center">
                <a href="/view-applications" class="btn btn-primary">View Applications</a>
            </div>  
        </div>
    </div>
</div>


<script src="/js/index.js"></script>