<div class="row my-5">
    <div class="col text-center">
        <h2>Welcome to HELL Management System. </h2>
    </div>
</div>

<div class="row">
    <div class="offset-md-2 col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">New Application</h5>
                <p class="card-text">Submit a new application for software Access.</p>
            </div>
            <div class="card-footer text-center">
                <a href="/create-application" class="btn btn-primary">Create Application</a>
            </div>  
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Existing Applications</h5>
                <p class="card-text">View Pending and Approved Software Applications.</p>                
            </div>
            <div class="card-footer text-center">
                <a href="/view-applications" class="btn btn-primary">View Applications</a>
            </div>
        </div>
    </div>
</div>


<script src="/js/index.js"></script>